{% extends "blog/base.html" %}
{% block content %}

  <div class="title-container">
    <div class="title">
      <span>{{ title }}</span>
    </div>
  </div>

  <div class="about-grid">
    <div class="aim">
      <h2>Aim</h2>
      <p>
        In short, the aim of Basic Million is to equip you with the knowledge and understanding of financial
        freedom, while providing a clear-cut path towards it.
      </p>
    </div>

    <div class="follow-us">
      <h2>Follow</h2>
      <p>
        Join me on my ongoing journey from a full-time student to a millionaire, and feel free to copy my
        investments along the way. Note that I am not a financial adviser, and it is very important that you do
        your own research before making an investment. Anything you invest in should be something that you
        believe will grow in the long term.
      </p>
    </div>

    <div class="hl"></div>

    <div class="blog-topics">
      The topics to be covered will consist of the following categories:
    </div>

    <div class="topic-saving">
      <h2>Saving</h2>
      Cutting down on spending doesn’t have to negatively affect your life
    </div>

    <div class="topic-investing">
      <h2>Investing</h2>
      Smart investing is the foundation of wealth
    </div>

    <div class="topic-mindset">
      <h2>Mindset</h2>
      Become more driven by understanding exactly why you want more money
    </div>

    <div class="topic-motivation">
      <h2>Motivation</h2>
      Fuel your confidence by learning about real life success stories
    </div>
  </div>

{% endblock content %}
