$primary: rgb(18, 45, 104);
$dark: #333;
$light: #fff;
$shadow: 0 2px 4px rgba(0, 0, 0, .6);
$blue: rgb(0, 153, 255);
$green: rgb(67, 203, 103);
$yellow: rgb(260, 230, 60);
$red: rgb(255, 92, 92);
$grey: #a2a2a2;
