.intro {
    grid-area: about;
  }

.about-grid {
    display                 :   grid                                  ;
    grid-gap                :   80px                                  ;
    grid-template-columns   :   1fr 3fr 3fr 1fr                       ;
    grid-template-rows      :   4fr 1fr 1fr 4fr 4fr                   ;
    grid-template-areas     :
      '...........        aim            aim     ...........'
      '    hl              hl               hl              hl    '
      'blog-topics    blog-topics       blog-topics    blog-topics'
      '...........   topic-saving     topic-investing  ...........'
      '...........   topic-mindset    topic-motivation ...........'   ;
  }

    .about-grid h2 { padding-bottom   :   10px   ; }

    .aim {
      grid-area   :   aim   ;
    }

    .follow-us {
      grid-area   :   follow-us   ;
    }

    .hl {
      grid-area    :   hl                    ;
      border-top   :   1px solid lightGrey   ;
    }

    .blog-topics {
      grid-area    :   blog-topics           ;
    }

    .topic-saving {
      grid-area    :   topic-saving             ;
      border       :   10px solid var(--blue)   ;
      background   :   rgba(0, 153, 255, .2)    ;
    }

    .topic-investing {
      grid-area    :   topic-investing           ;
      border       :   10px solid var(--green)   ;
      background   :   rgba(67, 203, 103, .2)    ;
    }

    .topic-mindset {
      grid-area    :   topic-mindset              ;
      border       :   10px solid var(--yellow)   ;
      background   :   rgba(260, 230, 60, .2)    ;
    }

    .topic-motivation {
      grid-area    :   topic-motivation        ;
      border       :   10px solid var(--red)   ;
      background   :   rgba(255, 92, 92, .2)   ;
    }

    .topic-saving, .topic-investing, .topic-mindset, .topic-motivation {
      border-radius   :   20px      ;
      padding         :   15px      ;
    }

    .blog-topics, .about-grid h2 {
      display           :   flex     ;
      justify-content   :   center   ;
    }

  @media screen and (max-width: 600px) {
    .about-grid {
      display: unset;
    }

    .topic-saving, .topic-investing, .topic-mindset, .topic-motivation {
      margin   :   20px 20px   ;
    }
  }