.top-divider {
  line-height: 0;
  fill: $light;
  background-color: $primary;
}

.title-bg {
  margin-top: 50px;
  background: $primary;
}

.title-container {
  grid-area: intro;
  display: flex;
  justify-content: center;
}

.title {
  position: absolute;
  color: $light;
  top: 120px;
  width: auto;
  padding: 15px 30px;
  border-radius: 50px 20px 50px 20px;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  background: $primary;
  // text-shadow: 0.5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -0.5px 0 0 #000; // Simulating text outline
}

#saving-title { border-bottom: solid $blue 10px; }

#investing-title { border-bottom: solid $green 10px; }

#mindset-title { border-bottom: solid $yellow 10px; }

#motivation-title { border-bottom: solid $red 10px; }
