
@import 'config';
@import 'nav';
@import 'titles';
@import 'intro';
@import 'postcard';
@import 'sidebar';
@import 'home';
@import 'about';
@import 'footer';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Sans-Serif, "Open Sans", serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-container {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 800px 300px 1fr;
  grid-template-areas:
    ". intro  intro  ."
    ". about  about ."
    ". blogcard  sidebar  .";
}

// This is a temp hack, but a more elegant solution to come-------------

@media screen and (min-width:18in) {
  .main-container {
    margin-top: 50px;
  }
}

@media screen and (min-width:24in) {
  .main-container {
    margin-top: -20px;
  }
}
// ---------------------------------------------------------------------

p {
  margin: 20px 0 20px 0;
}

.line-sep {
  margin: 60px 0 70px 0;
}
